.accolades{
  display: block;
  float: left;
  margin: 30px 0 0 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.accolades_all{
  display: block;
  float: left;
  margin: 0 0 30px 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.accolade{
  background: #eceff1;
  border-radius: var(--borderRadius);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: var(--colorDark);
  display: block;
  float: right;
  margin: 30px 0 20px 0;
  padding: 10px;
  position: relative;
  width: calc(100% - 60px);
}
.title{
  clear: both;
  display: block;
  float: left;
  font: var(--fontSmall);
  left: 10px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -25px;
  width: 100%;
}
.description{
  clear: both;
  display: block;
  float: left;
  font: italic 12px/22px 'robotoregular', Helvetica, Arial;
  margin: 0;
  padding:0 40px;
  position: relative;
  width: 100%;
  z-index: 1000;
}
.image{
  border-radius: 25px;
  bottom: 0px;
  display: block;
  float: left;
  height: 50px;
  left: -60px;
  position: absolute;
  width: 50px;
}
.quote_start{
  color: #FFF;
  display: block;
  float: left;
  font: var(--fontLarge);
  left: 0px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -10px;
  z-index: 1;
}
.quote_end{
  bottom: -10px;
  color: #FFF;
  display: block;
  float: left;
  font: var(--fontLarge);
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0px;
  z-index: 1;
}
.button_all{
  background: var(--colorDark);
  border-radius: var(--borderRadius);
  color: #FFF;
  display: block;
  float: right;
  font: var(--fontDefault);
  line-height: 16px;
  margin: 20px 0 0 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
.button_all:hover {
  background: var(--colorClickHover);
  color: var(--colorDark);
  cursor: pointer;
  text-decoration: none;
}
