.hero_image{
  clear: both;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.section{
  background: #000;
}
.arts{
  display: block;
  float: left;
  margin: 0 0 100px 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.art{
  border: 5px var(--colorDark) solid;
  border-radius: var(--borderRadius);
  color: #FFF;
  display: block;
  float: left;
  margin: 30px 30px 0 0;
  padding: 10px;
  position: relative;
  width: calc(33% - 30px);
}
/*.art:nth-child(4n+1){
  margin: 20px 0 0 0;
}*/
.image{
  border-radius: var(--borderRadius);
  clear: both;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.image img{
  width: 100%;
}
.title{
  clear: both;
  display: block;
  float: left;
  font: var(--fontDefaultBold);
  padding: 10px 0 0 0;
  width: 100%;
}
.tags{
  clear: both;
  display: block;
  float: left;
  margin: 0;
  padding:0;
  width: 100%;
}
.tag{
  background: var(--colorDark);
  border-radius: var(--borderRadius);
  color:#FFF;
  display: block;
  float: left;
  font: var(--fontSmallest);
  margin: 10px 10px 0 0;
  padding: 0 10px;
}
.tag_sale{
  background: var(--colorRed);
  border-radius: var(--borderRadius);
  color: #000;
  display: block;
  float: left;
  font: var(--fontSmallest);
  margin: 10px 10px 0 0;
  padding: 0 10px;
}
.tag_text{
  display: block;
  float: right;
  margin: 0 0 0 5px;
}
@media (max-width: 800px) {
  .art{
    margin: 20px 0 0 0;
    width: 100%;
  }
}
