.card{
  border-radius: 8px;
  color: #000a12;
  display: block;
  float: left;
  margin: 25px;
  padding: 0;
  position: relative;
  width: calc((100% / 4) - 50px);
}
.card_large{
  background: #000;
  border-radius: 8px;
  display: block;
  float: left;
  margin: 10px;
  padding: 0;
  position: relative;
  width: calc(100% - 20px);
}
.card_kitty{
  background: #000;
  border-radius: 8px;
  display: block;
  float: left;
  margin: 10px;
  padding: 20px;
  position: relative;
  width: calc(100% - 20px);
}
.image{
  border-radius: 8px;
  clear: both;
  display: block;
  float: left;
  position: relative;
  width: 100%;
}
.card_kitty_image{
  border-radius: 8px;
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  position: relative;
  width: calc((100% / 3) - 6px);
}
.title{
  clear: both;
  display: block;
  float: left;
  font: normal 20px/30px 'robotoregular', Helvetica, Arial;
  margin: 10px 0 0 0;
  width: 100%;
}
.subtitle{
  clear: both;
  color: #546e7a;
  display: block;
  float: left;
  font: normal 12px/22px 'robotoregular', Helvetica, Arial;
  margin: 0;
  width: 100%;
}
.social_links{
  display: block;
  float: left;
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
}
.social_link{
  background: #cfd8dc;
  border: 1px #FFF solid;
  border-radius: 40px;
  color: #000a12;
  cursor: pointer;
  display: block;
  float: left;
  font: normal 22px/40px 'robotoregular', Helvetica, Arial;
  height: 40px;
  margin: 0 10px 0 0;
  padding: 2px 0 0 0;
  text-align: center;
  text-decoration: none;
  width: 40px;
}
.social_link:last-child{
  margin: 0;
}
.social_link:hover{
  background: #000a12;
  border: 1px #FFF solid;
  color: #FFF;
  text-decoration: none;
}
.card_member .social_link:hover{
  border: 1px #000 solid;
}
.social_link i{
  display: block;
  margin: 6px 0 0 0;
  padding: 0;
}
.shop_link{
  background: #000a12;
  border-radius: 8px;
  color: #FFF;
  display: block;
  float: left;
  font:normal 10px/20px 'robotoregular', Helvetica, Arial;
  margin: 10px 0 0 0;
  text-align: center;
  width: 60px;
}
.shop_link img{
  border-radius: 0 0 8px 8px;
  display: block;
  float: left;
  width: 100%;
}
.group_title{
  clear: both;
  color: #000a12;
  display: block;
  float: left;
  font: bold 40px/50px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
  margin: 100px 25px 10px 25px;
  padding: 0;
  width: calc(100% - 50px);
  word-spacing: 10px;
}
.group_subtitle{
  clear: both;
  color: #546e7a;
  display: block;
  float: left;
  font:normal 18px/28px 'robotoregular', Helvetica, Arial;
  margin: 0 25px 10px 25px;
  padding: 0;
  width: calc(100% - 50px);
}
@media (max-width: 1300px) {
  .title{
    font: normal 20px/30px 'robotoregular', Helvetica, Arial;
  }
}
@media (max-width: 1000px) {
  .card{
    margin: 25px;
    padding: 0;
    width: calc((100% / 3) - 50px);
  }
  .title{
    font: normal 16px/26px 'robotoregular', Helvetica, Arial;
  }
  .group_title{
    font: normal 30px/40px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
    margin: 50px 25px 10px 25px;
    word-spacing: 10px;
    width: calc(100% - 50px);
  }
  .group_subtitle{
    font:normal 16px/26px 'robotoregular', Helvetica, Arial;
    margin: 0 25px 10px 25px;
    width: calc(100% - 50px);
  }
}
@media (max-width: 500px) {
  .card{
    margin: 5px 5px 40px 5px;
    width: calc((100% / 2) - 10px);
  }
  .card_large{
    margin: 10px 0 0 0;
    width: 100%;
  }
  .social_links{
    right: 25px;
    top: 25px;
  }
  .social_link{
    font: normal 16px/30px 'robotoregular', Helvetica, Arial;
    height: 30px;
    padding: 0;
    width: 30px;
  }
  .title{
    font: normal 16px/26px 'robotoregular', Helvetica, Arial;
  }
  .group_title{
    font: normal 30px/40px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
    margin: 50px 5px 10px 5px;
    word-spacing: 10px;
    width: calc(100% - 10px);
  }
  .group_subtitle{
    font:normal 16px/26px 'robotoregular', Helvetica, Arial;
    margin: 0 5px 10px 5px;
    width: calc(100% - 10px);
  }
}
