.footer {
  background: #000a12;
  clear: both;
  color: #FFF;
  display: block;
  float: left;
  margin: 0;
  padding: 30px 0;
  position: relative;
  width: 100%;
}
.logo {
  display: block;
  float: left;
  font: normal 30px/40px 'pantonblackcaps', Helvetica, Arial;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
.made_with,
.copyright {
  clear: both;
  color: #546e7a;
  display: block;
  float: left;
  font: normal 12px/22px 'robotoregular', Helvetica, Arial;
  margin: 5px 0 0 0;
  text-align: center;
  width: 100%;
}
