.footer {
  background: rgb(109,255,231);
  background: linear-gradient(135deg, rgba(109,255,231,1) 0%, rgba(29,232,181,1) 50%, rgba(0,230,118,1) 100%);
  clear: both;
  display: block;
  float: left;
  margin: 0;
  padding: 20px 0;
  position: relative;
  width: 100%;
}
.content {
  color: #263238;
  display: block;
  float: left;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}
.logo {
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 30px 0 30px;
  padding: 0;
  width: 100px;
}
.legal {
  display: block;
  float: left;
}
.legal_text {
  clear: both;
  display: block;
  float: left;
  font: normal 10px/20px 'robotoregular', Helvetica, Arial;
}
.button{
  background: #FFF;
  border-radius: 6px;
  color: #263238;
  display: block;
  float: right;
  font: normal 20px/40px 'robotoregular', Helvetica, Arial;
  height: 40px;
  margin: 0 10px 0 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 40px;
}
.button:hover {
  background: rgb(101,31,255);
  background: linear-gradient(90deg, rgba(101,31,255,1) 0%, rgba(24,255,255,1) 100%);
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 600px) {
  .legal {
    clear: both;
    margin: 20px 0 20px 30px;
    width: calc(100% - 30px);
  }
}
