.footer {
  background: var(--colorClickHover);
  background: linear-gradient(135deg, var(--colorClickHover) 0%, #9fa8da 100%);
  clear: both;
  display: block;
  float: left;
  margin: 0;
  padding: 20px 0;
  position: relative;
  width: 100%;
}
.content {
  color: var(--colorDark);
  display: block;
  float: left;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}
.logo {
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 30px 0 30px;
  padding: 0;
  width: 80px;
}
.legal {
  display: block;
  float: left;
}
.legal_text {
  clear: both;
  display: block;
  float: left;
  font: var(--fontSmallest);
}
@media (max-width: 600px) {
  .legal {
    clear: both;
    margin: 20px 0 20px 30px;
    width: calc(100% - 30px);
  }
}
