.product{
  clear: both;
  display: block;
  float: left;
  margin: 50px 0;
  width: 100%;
}
.amazon_link{
  clear: none;
  display: block;
  float: left;
  height:240px;
  margin: 0;
  width:120px;
}
.description{
  display: block;
  float: left;
  font: normal 16px/26px 'robotoregular', Helvetica, Arial;
  margin: 0 0 0 20px;
  width: calc(100% - 140px);
}
