.header {
  background: #263238;
  clear: both;
  color: #FFF;
  display: block;
  float: left;
  margin: 0;
  padding: 10px 0;
  position: relative;
  width: 100%;
}
.content {
  display: block;
  float: left;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}
.logo {
  display: block;
  float: left;
  margin: 0 0 0 30px;
  padding: 0;
  width: 100px;
}
.button{
  background: #FFF;
  border: 1px #263238 solid;
  border-radius: 6px;
  color: #263238;
  display: block;
  float: right;
  font: normal 20px/40px Helvetica, Arial;
  height: 40px;
  margin: 10px 0px 0 0;
  padding: 10px 0 0 0;
  position: fixed;
  right: 10px;
  text-align: center;
  text-decoration: none;
  top: 10px;
  width: 40px;
  z-index: 9999;
}
.nav{
  background: #FFF;
  border: 1px #263238 solid;
  border-radius: 6px;
  color: #263238;
  display: block;
  float: left;
  font: normal 12px/22px Helvetica, Arial;
  padding: 0;
  position: absolute;
  right: 0px;
  text-align: left;
  top: 50px;
  width: 140px;
  z-index: 9000;
}
.nav a{
  clear: both;
  display: block;
  float: left;
  padding: 10px 20px;
  position: relative;
  width: 100%;
}
.nav a:first-child{
  border-radius: 6px 6px 0 0;
  padding: 10px 20px 10px 20px;
}
.nav a:last-child{
  border-radius: 0 0 6px 6px;
  padding: 10px 20px 10px 20px;
}
.nav a i{
  display: block;
  float: left;
  margin: 0 10px 0 0;
  text-align: center;
  width: 20px;
}
.nav a:hover,
.button:hover {
  background: rgb(101,31,255);
  background: linear-gradient(90deg, rgba(101,31,255,1) 0%, rgba(24,255,255,1) 100%);
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
}
