.header{
  background: #fff url('../public/image/mexico.jpg');
  background-size: cover;
  clear: both;
  color: #000;
  display: block;
  float: left;
  margin: 0;
  padding: 100px 0 100px 0;
  width: 100%;
}
.logo {
  display: block;
  float: left;
  font: normal 100px/120px 'pantonblackcaps', Helvetica, Arial;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 1px 1px #FFF;
  width: 100%;
}
.headline{
  clear: both;
  color: #FFF;
  display: block;
  float: left;
  font: normal 50px/60px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
  margin: 100px 0;
  padding: 0;
  text-align: center;
  text-shadow: 1px 1px #000;
  width: 100%;
  word-spacing: 20px;}
@media (max-width: 1300px) {
  .logo{
    font: normal 80px/100px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
  }
  .headline{
    font: normal 40px/50px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
  }
}
@media (max-width: 1000px) {
  .logo{
    font: normal 70px/80px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
  }
  .headline{
    font: normal 30px/40px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
    margin: 50px 0;
    padding: 0 20px;
    word-spacing: 10px;
  }
}
@media (max-width: 500px) {
  .header{
    padding: 30px 0 50px 0;
  }
  .logo{
    font: normal 40px/50px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
  }
  .headline{
    font: normal 20px/30px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
    margin: 50px 0;
    padding: 0 20px;
    word-spacing: 10px;
  }
}
