.header {
  background: #263238 url('/image/joe/digital-distortion.jpg');
  background-size: cover;
  background-position: center;
  clear: both;
  display: block;
  float: left;
  margin: 0;
  padding: 20px 0 50px 0;
  position: relative;
  width: 100%;
}
.content {
  background: #FFF;
  color: #263238;
  display: block;
  float: left;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}
.logo {
  display: block;
  float: left;
  margin: 0 30px 0 30px;
  width: 80px;
}
.title{
  color: #263238;
  display: block;
  float: left;
  font: normal 44px/44px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 3px 3px #FFF;
  word-spacing: 10px;
}
.social_container{
  display: block;
  float: right;
  margin: 0 60px 0 0;
}
.button{
  background: #263238;
  border: 1px #FFF solid;
  border-radius: 6px;
  color: #FFF;
  display: block;
  float: right;
  font: normal 20px/40px Helvetica, Arial;
  height: 40px;
  margin: 10px 30px 0 0;
  padding: 10px 0 0 0;
  position: fixed;
  right: 10px;
  text-align: center;
  text-decoration: none;
  top: 20px;
  width: 40px;
  z-index: 9999;
}
.nav{
  background: #FFF;
  border: 1px #263238 solid;
  border-radius: 6px;
  color: #263238;
  display: block;
  float: left;
  font: normal 12px/22px Helvetica, Arial;
  padding: 0;
  position: absolute;
  right: 0px;
  text-align: left;
  top: 50px;
  width: 140px;
  z-index: 9000;
}
.nav a{
  clear: both;
  display: block;
  float: left;
  padding: 10px 20px;
  position: relative;
  width: 100%;
}
.nav a:first-child{
  border-radius: 6px 6px 0 0;
  padding: 10px 20px 10px 20px;
}
.nav a:last-child{
  border-radius: 0 0 6px 6px;
  padding: 10px 20px 10px 20px;
}
.nav a i{
  display: block;
  float: left;
  margin: 0 10px 0 0;
  text-align: center;
  width: 20px;
}
.nav a:hover,
.button:hover {
  background: rgb(101,31,255);
  background: linear-gradient(90deg, rgba(101,31,255,1) 0%, rgba(24,255,255,1) 100%);
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 1300px) {
  .logo{
    font: normal 80px/100px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
  }
}
@media (max-width: 1000px) {
  .logo{
    font: normal 70px/80px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
  }
}
@media (max-width: 500px) {
  .splash_joe{
    min-height: 550px;
  }
  .logo{
    font: normal 40px/50px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
  }
}
