.jobs{
  display: block;
  float: left;
  margin: 20px 0 0 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.jobs_all{
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.job{
  background: #eceff1;
  border-radius: 8px;
  color: #263238;
  display: block;
  float: left;
  margin: 20px 0 0 0;
  padding: 10px;
  position: relative;
  width: 100%;
}
.logo{
  border-radius: 8px;
  display: block;
  float: left;
  height:50px;
  margin: 0;
  width:50px;
}
.logo img{
  border-radius: 8px;
  height:50px;
  width:50px;
}
.title{
  display: block;
  float: left;
  font: bold 16px/20px 'robotoregular', Helvetica, Arial;
  padding: 0 0 0 20px;
  width: calc(100% - 70px);
}
.company{
  display: block;
  float: left;
  font:normal 12px/22px 'robotoregular', Helvetica, Arial;
  padding: 0 0 0 20px;
  width: calc(100% - 70px);
}
.description{
  clear: both;
  display: block;
  float: left;
  font: normal 12px/22px 'robotoregular', Helvetica, Arial;
  margin: 10px 0 0 0;
  padding:0;
  width: 100%;
}
.tags{
  clear: both;
  color:#263238;
  display: block;
  float: left;
  margin: 0;
  padding:0;
  width: 100%;
}
.tag{
  background: #FFF;
  border-radius: 8px;
  color:#263238;
  display: block;
  float: left;
  font:normal 10px/20px 'robotoregular', Helvetica, Arial;
  margin: 10px 10px 0 0;
  padding: 0 10px;
}
.tag_text{
  display: block;
  float: right;
  margin: 0 0 0 5px;
}
.button_all{
  background: #263238;
  border-radius: 6px;
  color: #FFF;
  display: block;
  float: right;
  font: normal 16px/16px 'robotoregular', Helvetica, Arial;
  margin: 20px 0 0 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
.button_all:hover {
  background: rgb(109,255,231);
  color: #263238;
  cursor: pointer;
  text-decoration: none;
}
