.jobs{
  display: block;
  float: left;
  margin: 20px 0 0 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.jobs_all{
  display: block;
  float: left;
  margin: 0 0 30px 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.job{
  background: #eceff1;
  border-radius: var(--borderRadius);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: var(--colorDark);
  display: block;
  float: left;
  margin: 30px 0 0 0;
  padding: 10px;
  position: relative;
  width: 100%;
}
.logo{
  border-radius: var(--borderRadius);
  display: block;
  float: left;
  height:50px;
  margin: 0;
  width:50px;
}
.logo img{
  border-radius: var(--borderRadius);
  height:50px;
  width:50px;
}
.title{
  display: block;
  float: left;
  font: var(--fontDefaultBold);
  padding: 0 0 0 20px;
  width: calc(100% - 70px);
}
.company{
  display: block;
  float: left;
  font: var(--fontSmall);
  padding: 0 0 0 20px;
  width: calc(100% - 70px);
}
.description{
  clear: both;
  display: block;
  float: left;
  font: var(--fontDefault);
  margin: 20px 0;
  padding:0;
  width: 100%;
}
.tags{
  clear: both;
  color: var(--colorDark);
  display: block;
  float: left;
  margin: 0;
  padding:0;
  width: 100%;
}
.tag{
  background: #FFF;
  border-radius: var(--borderRadius);
  color: var(--colorDark);
  display: block;
  float: left;
  font: var(--fontSmallest);
  margin: 10px 10px 0 0;
  padding: 0 10px;
}
.tag_code{
  border-radius: var(--borderRadius);
  color: var(--colorDark);
  display: block;
  float: left;
  font: var(--fontDefault);
  margin: 8px 10px 0 0;
  padding: 0;
}
.tag_code_group{
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: calc(100% - 30px);
}
.tag_text{
  display: block;
  float: right;
  margin: 0 0 0 5px;
}
.button_all{
  background: var(--colorDark);
  border-radius: var(--borderRadius);
  color: #FFF;
  display: block;
  float: right;
  font: var(--fontDefault);
  line-height: 16px;
  margin: 20px 0 0 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
.button_all:hover {
  background: var(--colorClickHover);
  color: var(--colorDark);
  cursor: pointer;
  text-decoration: none;
}
