.video{
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.about{
  clear: both;
  display: block;
  float: left;
  font: var(--fontDefault);
  margin: 30px 0 100px 0;
  padding: 0;
  width: 100%;
}
.hero_image{
  display: block;
  float: left;
  margin: 100px 0 0 0;
  padding: 0;
  width: 100%;
}
.section_yes{
  background: var(--colorDark) url('/image/joe/yes.jpg');
  background-size: cover;
  background-position: center;
  min-height: 600px;
  margin: 0;
  padding: 0;
}
.hire_me{
  clear: both;
  display: block;
  float: left;
  margin: 200px 0 0 0;
  padding: 0;
  width: 100%;
}
.hire_me_title{
  clear: both;
  color: #FFF;
  display: block;
  float: left;
  font: var(--fontLarge);
  margin: 0 0 50px 0;
  padding: 0;
  text-shadow: 1px 1px var(--colorDark);
  word-spacing: 20px;
  width: 100%;
}
.photos{
  clear: both;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.photos img{
  border-radius: var(--borderRadius);
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  padding: 0;
  width: calc(33% - 6px);
}
.photos img:last-child{
  margin: 0;
}
.photos_horz{
  clear: both;
  display: block;
  float: left;
  margin: 10px 0 100px 0;
  padding: 0;
  width: 100%;
}
.photos_horz img{
  border-radius: var(--borderRadius);
  display: block;
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  width: calc(50% - 6px);
}
.photos_horz img:last-child{
  margin: 0;
}
.cards{
  display: block;
  float: left;
  margin: 100px 0;
  width: 100%;
}
.card{
  background: var(--colorDark);
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
  color: #FFF;
  display: block;
  float: left;
  margin: 0 40px 0 0;
  padding: 0;
  position: relative;
  width: calc((100% / 3) - 30px);
}
.card:last-child{
  margin: 0;
}
.card:hover {
  background: var(--colorClickHover);
  color: var(--colorDark);
  cursor: pointer;
  text-decoration: none;
}
.card_label{
  clear: both;
  display: block;
  float: left;
  font: normal 20px/20px 'robotoregular', Helvetica, Arial;
  margin: 20px 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
.card_image{
  border-radius: 6px 6px 0 0;
  clear: both;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media (max-width: 700px) {
  .section_yes{
    min-height: 250px;
  }
  .hire_me{
    margin: 50px 0 0 20px;
  }
  .hire_me_title{
    font: normal 30px/40px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
    margin: 0 0 20px 0;
    word-spacing: 10px;
  }
  .card{
    margin: 0 0 40px 0;
    width: 100%;
  }
}
