.qualifications{
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.qualification{
  clear: both;
  display: block;
  float: left;
  font: normal 18px/28px 'robotoregular', Helvetica, Arial;
  list-style: none;
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
}
.qualification_title{
  display: block;
  float: right;
  width: calc(100% - 40px);
}
.about{
  clear: both;
  display: block;
  float: left;
  font: normal 18px/28px 'robotoregular', Helvetica, Arial;
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
}
.hero_image{
  display: block;
  float: left;
  margin: 100px 0 0 0;
  padding: 0;
  width: 100%;
}
.section_yes{
  background: #000 url('/image/joe/yes.jpg');
  background-size: cover;
  background-position: center;
  min-height: 600px;
  margin: 100px 0 0 0;
}
.hire_me{
  clear: both;
  display: block;
  float: left;
  margin: 200px 0 0 0;
  padding: 0;
  width: 100%;
}
.hire_me_title{
  clear: both;
  color: #FFF;
  display: block;
  float: left;
  font: normal 40px/50px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
  margin: 0 0 50px 0;
  padding: 0;
  text-shadow: 1px 1px #000;
  word-spacing: 20px;
  width: 100%;
}
.photos{
  clear: both;
  display: block;
  float: left;
  margin: 100px 0 0 0;
  padding: 0;
  width: 100%;
}
.photos img{
  border-radius: 8px;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  width: calc(33% - 6px);
}
.photos img:last-child{
  margin: 0;
}
.photos_horz{
  clear: both;
  display: block;
  float: left;
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
}
.photos_horz img{
  border-radius: 8px;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  width: calc(50% - 5px);
}
.photos_horz img:last-child{
  margin: 0;
}
@media (max-width: 700px) {
  .section_yes{
    min-height: 250px;
  }
  .hire_me{
    margin: 50px 0 0 20px;
  }
  .hire_me_title{
    font: normal 30px/40px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
    margin: 0 0 20px 0;
    word-spacing: 10px;
  }
}
