.qualifications{
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.qualification{
  clear: both;
  display: block;
  float: left;
  font: normal 18px/28px 'robotoregular', Helvetica, Arial;
  list-style: none;
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
}
.qualification_title{
  display: block;
  float: right;
  width: calc(100% - 40px);
}
.about{
  clear: both;
  display: block;
  float: left;
  font: normal 18px/28px 'robotoregular', Helvetica, Arial;
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
}
.hero_image{
  display: block;
  float: left;
  margin: 100px 0 0 0;
  padding: 0;
  width: 100%;
}
.section_yes{
  background: #000 url('/image/joe/yes.jpg');
  background-size: cover;
  background-position: center;
  min-height: 600px;
  margin: 100px 0 0 0;
}
.hire_me{
  clear: both;
  display: block;
  float: left;
  margin: 200px 0 0 0;
  padding: 0;
  width: 100%;
}
.hire_me_title{
  clear: both;
  color: #FFF;
  display: block;
  float: left;
  font: normal 40px/50px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
  margin: 0 0 50px 0;
  padding: 0;
  text-shadow: 1px 1px #000;
  word-spacing: 20px;
  width: 100%;
}
.photos{
  clear: both;
  display: block;
  float: left;
  margin: 100px 0 0 0;
  padding: 0;
  width: 100%;
}
.photos img{
  border-radius: 8px;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  width: calc(33% - 6px);
}
.photos img:last-child{
  margin: 0;
}
.photos_horz{
  clear: both;
  display: block;
  float: left;
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
}
.photos_horz img{
  border-radius: 8px;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  width: calc(50% - 6px);
}
.photos_horz img:last-child{
  margin: 0;
}
.quote{
  clear: both;
  display: block;
  float: left;
  font:normal 40px/50px 'pantonblackcaps',Helvetica,Arial,sans-serif;
  margin: 100px 0 20px 0;
  padding: 0;
  text-align: left;
  width: 100%;
  word-spacing: 10px;
}
.quote_source{
  clear: both;
  color: #ef0828;
  display: block;
  float: right;
  font:normal 24px/30px 'robotoregular',Helvetica,Arial,sans-serif;
  text-align: right;
  width: 100%;
}
.color_lighter_blue {
    color: #07b2e8;}
.color_light_blue {
    color: #128ddd;}
.color_medium_blue {
    color: #0058b1;}
.color_dark_blue {
    color: #104b9b;}
.color_purple {
    color: #5146bc;}
.color_violet {
    color: #7a3a98;}
.color_pink {
    color: #b33179;}
.color_dark_pink {
    color: #d01d5e;}
.color_red {
    color: #ef0828;}
@media (max-width: 700px) {
  .section_yes{
    min-height: 250px;
  }
  .hire_me{
    margin: 50px 0 0 20px;
  }
  .hire_me_title{
    font: normal 30px/40px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
    margin: 0 0 20px 0;
    word-spacing: 10px;
  }
}
