.side_nav_container{
  background: rgba(255,255,255,0.85);
  border-radius: var(--borderRadius);
  bottom: 120px;
  display: block;
  float: left;
  left: 20px;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 99999;
}
.side_nav{
  clear: both;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.side_nav a{
  background: var(--colorDark);
  border-radius: 20px;
  clear: both;
  display: block;
  float: left;
  height: 20px;
  margin: 5px;
  padding: 0;
  width: 20px;
}
.label{
  background: rgba(255,255,255,0.85);
  border-radius: var(--borderRadius);
  color: var(--colorDark);
  display: none;
  float: left;
  font: var(--fontDefault);
  margin: 0 0 0 30px;
  padding: 0 5px;
}
.side_nav a:hover .label{
  display: block;
}
@media (max-width: 700px) {
  .side_nav{
    display: none;
  }
}
