.section{
  background: #000;
}
.values{
  display: block;
  float: left;
  margin: 0 0 100px 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.value{
  border-bottom: 1px #263238 solid;
  color: #FFF;
  display: block;
  float: left;
  margin: 100px 0 0 0;
  padding: 10px 10px 100px 10px;
  position: relative;
  width: 100%;
}
.value:last-child{
  border: none;
  padding: 10px;
}
.id{
  color: #78909c;
  display: block;
  float: left;
  font: bold 100px/100px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
  margin: 0;
  padding:0;
  text-align: center;
  width: 30%;
}
.title{
  display: block;
  float: right;
  font: normal 30px/30px 'pantonblackcaps', 'robotoregular', Helvetica, Arial;
  margin: 0;
  padding: 0;
  width: 70%;
}
.description{
  color: #78909c;
  display: block;
  float: right;
  font: normal 16px/26px 'robotoregular', Helvetica, Arial;
  margin: 40px 0 0 0;
  padding: 0;
  width: 70%;
}
